<p id="notice"><%= notice %></p>

<h1>Edit Component Details</h1>

<%= form_for @comp do |f| %> 
  <% f.error_messages %>

  <div class="field">
    <%= f.text_field :comp_tag, :size => 50 %>
    <%= f.submit "Submit" %>
  </div>
  
<% end %>

<%= link_to 'Back', admin_path %>