<p id="notice"><%= notice %></p>

<div id="filters">
	<h3>Displaying results for:</h3>
	"<%= @metric.metric_tag %>"<br>
	<%= form_tag search_metrics_path(:search_metric => @search_metric), :method => :post do %>
		<input type="hidden" name="filter_tasks[]"> 
		<input type="hidden" name="filter_comps[]"> 
		<input type="hidden" name="filter_systems[]">
		<input type="hidden" name="filter_display_as" id="filter_display_as" value="<%= @display_as %>">
		<%= hidden_field_tag "search_metrics", @search_metrics %>
	
		<h3>Filter by:</h3>
		<div id="filter_comps_hidden">
			<%= link_to '[+]', "#", :onclick => "Effect.BlindDown('filter_comps_list');Element.show('filter_comps_expanded');Element.hide('filter_comps_hidden');", :remote => true %> Component of Immersion<br>
		</div>
		<div id="filter_comps_expanded" style="display:none">
			<%= link_to '[-]', "#", :onclick => "Effect.BlindUp('filter_comps_list');Element.show('filter_comps_hidden');Element.hide('filter_comps_expanded');", :remote => true %> Component of Immersion<br>
		</div>
		<div id="filter_comps_list" style="display:none">
			<% @comps.each do |comp| %>
				<%= check_box_tag "filter_comps[]", comp.id, !@filter_comps.nil?&&@filter_comps.include?(comp) %><%= comp.comp_tag %><br>
			<% end %>
		</div>
		<div id="filter_tasks_hidden">
			<%= link_to '[+]', "#", :onclick => "Effect.BlindDown('filter_tasks_list');Element.show('filter_tasks_expanded');Element.hide('filter_tasks_hidden');", :remote => true %> Task<br>
		</div>
		<div id="filter_tasks_expanded" style="display:none">
			<%= link_to '[-]', "#", :onclick => "Effect.BlindUp('filter_tasks_list');Element.show('filter_tasks_hidden');Element.hide('filter_tasks_expanded');", :remote => true %> Task<br>
		</div>
		<div id="filter_tasks_list" style="display:none">
			<% @tasks.each do |task| %>
				<%= check_box_tag "filter_tasks[]", task.id, !@filter_tasks.nil?&&@filter_tasks.include?(task) %><%= task.task_tag %><br>
			<% end %>
		</div>
		<div id="filter_systems_hidden">
			<%= link_to '[+]', "#", :onclick => "Effect.BlindDown('filter_systems_list');Element.show('filter_systems_expanded');Element.hide('filter_systems_hidden');", :remote => true %> Systems<br>
		</div>
		<div id="filter_systems_expanded" style="display:none">
			<%= link_to '[-]', "#", :onclick => "Effect.BlindUp('filter_systems_list');Element.show('filter_systems_hidden');Element.hide('filter_systems_expanded');", :remote => true %> Systems<br>
		</div>
		<div id="filter_systems_list" style="display:none">
			<% @systems.each do |system| %>
				<%= check_box_tag "filter_systems[]", system.id, !@filter_systems.nil?&&@filter_systems.include?(system) %><%= system.system_tag %><br>
			<% end %>
		</div>
		<%= submit_tag "Filter Results", :name => nil %>
	<% end %>
</div>

<div id="content">		
	<div id="search_results">
		<% if @display_as == "Findings" %>
			<div id="search_findings">
				<center><small>Display results as:</small><br>
				Findings | <%= link_to 'Experiments', :search_comp => @search_comp, :filter_tasks => @filter_tasks, :filter_metrics => @filter_metrics, :filter_systems => @filter_systems, :display_as => 'Experiments', :sort => @sort, :direction => @direction %> | <%= link_to 'Papers', :search_comp => @search_comp, :filter_tasks => @filter_tasks, :filter_metrics => @filter_metrics, :filter_systems => @filter_systems, :display_as => 'Papers', :sort => @sort, :direction => @direction %></center>
				<h1>Results:</h1>
				
				<table cellspacing="0" cellpadding="0">
					<tr><th style="width:25%"><%= sortable_comp "+", "finding", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Finding <%= sortable_comp "-", "finding", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:10%"><%= sortable_comp "+", "year", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Year <%= sortable_comp "-", "year", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:15%"><%= sortable_comp "+", "author", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Author <%= sortable_comp "-", "author", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:20%"><%= sortable_comp "+", "paper", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Paper <%= sortable_comp "-", "paper", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:30%">Details</th>
					</tr>
					<% @findings.each do |finding| %>
						<tr>
							<td><%= finding.finding %></b></td>
							<td><center><%= finding.experiment.paper.year.strftime("%Y") %></center></td>
							<td><center><%= finding.experiment.paper.authors.first.last_name + " et al" %></center></td>
							<td><center><%= finding.experiment.paper.title %></center></td>
							<td><i>Task: </i><% finding.tasks.each do |task| %>
								<%= link_to task.task_tag, search_tasks_path(:search_task => task) %>
							<% end %><br>
							<i>Component(s) of immersion: </i><% finding.comps.each do |comp| %>
								<%= link_to comp.comp_tag, search_comps_path(:search_comp => comp) %>, 
							<% end %><br>
							<i>Metric(s): </i><% finding.metrics.each do |metric| %>
								<%= link_to metric.metric_tag, search_metrics_path(:search_metric => metric) %>, 
							<% end %><br>
							<i>System(s): </i><% finding.systems.each do |system| %>
								<%= link_to system.system_tag, search_systems_path(:search_system => system) %>, 
							<% end %>
							<div align="right"><%= button_to "More", paper_experiment_finding_path(finding.experiment.paper,finding.experiment,finding) %></div></td>
						</tr>
					<% end %>
				</table>
			</div>
		
		<% elsif @display_as == "Experiments" %>
			<div id="search_experiments">
				<center><small>Display results as:</small><br>
				<%= link_to 'Findings', :search_comp => @search_comp, :filter_tasks => @filter_tasks, :filter_metrics => @filter_metrics, :filter_systems => @filter_systems, :display_as => 'Findings', :sort => @sort, :direction => @direction %> | Experiments | <%= link_to 'Papers', :search_comp => @search_comp, :filter_tasks => @filter_tasks, :filter_metrics => @filter_metrics, :filter_systems => @filter_systems, :display_as => 'Papers', :sort => @sort, :direction => @direction %></center>
				<h1>Results:</h1>
				
				<table cellspacing="0" cellpadding="0">
					<tr><th style="width:25%"><%= sortable_comp "+", "experiments.task_desc", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Task Description <%= sortable_comp "-", "experiments.task_desc", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:10%"><%= sortable_comp "+", "papers.year", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Year <%= sortable_comp "-", "papers.year", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:15%"><%= sortable_comp "+", "author", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Author <%= sortable_comp "-", "author", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:20%"><%= sortable_comp "+", "papers.title", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Paper <%= sortable_comp "-", "papers.title", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:30%">Details</th>
					</tr>
					<% @experiments.each do |exp| %>
						<tr>
							<td><%= exp.title %><br><%= exp.task_desc %></td>
							<td><center><%= exp.paper.year.strftime("%Y") %></center></td>
							<td><center><%= exp.paper.authors.first.last_name + " et al" %></center></td>
							<td><%= exp.paper.title %></td>
							<td>
								<i>Task: </i><% exp.tasks.each do |task| %>
									<%= link_to task.task_tag, search_tasks_path(:search_task => task) %>
								<% end %><br>
								<i>Component(s) of immersion: </i><% exp.comps.each do |comp| %>
									<%= link_to comp.comp_tag, search_comps_path(:search_comp => comp) %>, 
								<% end %><br>
								<i>Metric(s): </i><% exp.metrics.each do |metric| %>
									<%= link_to metric.metric_tag, search_metrics_path(:search_metric => metric) %>, 
								<% end %><br>
								<i>System(s): </i><% exp.systems.each do |system| %>
									<%= link_to system.system_tag, search_systems_path(:search_system => system) %>, 
								<% end %><br>
								(<i># of Findings: </i><%= exp.findings.count %>)
								<div align="right"><%= button_to "More", paper_experiment_path(exp.paper,exp) %></div>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		
		<% else %>
			<div id="search_papers">
				<center><small>Display results as:</small><br>
				<%= link_to 'Findings', :search_comp => @search_comp, :filter_tasks => @filter_tasks, :filter_metrics => @filter_metrics, :filter_systems => @filter_systems, :display_as => 'Findings', :sort => @sort, :direction => @direction %> | <%= link_to 'Experiments', :search_comp => @search_comp, :filter_tasks => @filter_tasks, :filter_metrics => @filter_metrics, :filter_systems => @filter_systems, :display_as => 'Experiments', :sort => @sort, :direction => @direction %>  | Papers</center>
				<h1>Results:</h1>
				
				<table cellspacing="0" cellpadding="0">
					<tr>
						<th style="width:25%"><%= sortable_comp "+", "title", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Title <%= sortable_comp "-", "title", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:10%"><%= sortable_comp "+", "year", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Year <%= sortable_comp "-", "year", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:25%"><%= sortable_comp "+", "authors.last_name", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "asc" %> Authors <%= sortable_comp "-", "authors.last_name", @search_comp, @filter_tasks, @filter_metrics, @filter_systems, @display_as, "desc" %></th>
						<th style="width:40%">Details</th>
					</tr>
					<% @papers.each do |paper| %>
						<tr>
							<td><%= paper.title %></td>
							<td><center><%= paper.year.strftime("%Y") %></center></td>
							<td><% paper.authors.each do |author| %><%= author.last_name %>, <%= author.first_name %> <%= author.initials %>, <% end %></td>
							<td>
								<i>Task(s): </i><% Task.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |task| %>
									<%= link_to task.task_tag, search_tasks_path(:search_task => task) %>, 
								<% end %><br>
								<i>Component(s) of immersion: </i><% Comp.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |comp| %>
									<%= link_to comp.comp_tag, search_comps_path(:search_comp => comp) %>, 
								<% end %><br>
								<i>Metric(s): </i><% Metric.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |metric| %>
									<%= link_to metric.metric_tag, search_metrics_path(:search_metric => metric) %>, 
								<% end %><br>
								<i>System(s): </i><% System.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |system| %>
									<%= link_to system.system_tag, search_systems_path(:search_system => system) %>, 
								<% end %><br>
								(<i># of Experiments: </i><%= paper.experiments.count %>, 
								<i># of Findings: </i><% count = 0 %><% paper.experiments.each do |exp| %><% count = count + exp.findings.count %><% end %><%= count %>)
								<div align="right"><%= button_to "More", paper_path(paper) %></div>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>
	</div>
</div>