
<%= form_for([@paper,@paper.authors.build]) do |g| %>
	<% g.error_messages %>

	<div class="field">
		<%= g.label 'Last name:' %>
		<%= g.text_field :last_name %>
	</div>

	<div class="field">
		<%= g.label 'First name:' %>
		<%= g.text_field :first_name %>
	</div>

	<div class="field">
		<%= g.label 'Initials:' %>
		<%= g.text_field :initials %>
	</div>
	
	<div class="actions">
		<%= g.submit "Add a new author" %>
	</div>
<% end %>

<%= form_for @paper, :url => { :controller => "papers", :action => "confirm_authors" } do |f| %>
	<div class="field">
		<% @authors.each do |author| %>
			<%= check_box_tag "paper[author_ids][]", author.id, @paper.authors.include?(author) %><%= author.last_name %>, <%= author.first_name %>, <%= author.initials %><br />
		<% end %>
	</div>
	
	<div class="actions">
		<%= f.submit "Confirm authors" %>
	</div>
<% end %>