<div id="form_title">
	<center><h1>Step 2: Add Authors</h2></center>
</div>

<div id="form_body">
	<center>
	<table>
		<% @paper_authors.each do |ap| %>	
			<tr><td colspan="3">Author #<%= ap.order %>: <% a = Author.find(ap.author_id) %>
				<%= a.last_name + ", " + a.first_name + " " + a.initials %>
				<small><%= link_to 'Delete', ap, :confirm => 'Are you sure?', :method => :delete %></td></tr>
		<% end %>
		<tr><td colspan="3" align="left"><h2>Please enter the details for Author #<%= @paper_authors.size+1 %>:</h2></td></tr>
		<tr>
			<td align="left">
				<i>Find an author already in the database:</i><br>
				<%= form_for(@paper_author) do |g| %>
					<%= g.error_messages %>
					<%= g.hidden_field :order, :value=>@paper_authors.size+1 %>
					<%= g.hidden_field :paper_id, :value=>@paper.id %>
					Author #<%= @paper_authors.size+1 %>: <%= g.select :author_id, @authors.collect{|a| [a.last_name + ', ' + a.first_name + ' ' + a.initials,a.id]} %>
					<%= g.submit "Confirm Author" %></td>
				<% end %>
			</td>
			<td width="25%" align="center">-- OR --</td>
			<td align="left">
				<i>Add a new author:</i><br>
				<%= form_for @paper_author do |f| %>
					<%= f.error_messages %>
					<%= f.hidden_field :order, :value => @paper_authors.size+1 %>
					<%= f.hidden_field :paper_id, :value => @paper.id %>
					<%= text_field_tag "last_name", "Last Name" %>, <%= text_field_tag "first_name", "First Name" %> <%= text_field_tag "initials", "Initials", :size => "8" %>
					<%= f.submit "Add New Author" %></td>
				<% end %>
			</td>
		</tr>
		
		<tr><td></td><td></td><td align="right"><%= link_to "Next", paper_experiments_path(@paper) %></td></tr>
	</table>
	</center>	
</div>