<p id="notice"><%= notice %></p>
<div id="form_title">
	<center><h1>Step 3: Add Experiments Details</h1></center>
</div>

<div id="form_body">
	<% @experiments.each_with_index do |exp,i| %>
		<% if exp.status == 1 %>
			<%= "Experiment " + (i+1).to_s + " Complete!" %>
			<%= link_to "Edit", edit_paper_experiment_path(exp.paper_id,exp) %> | 
			<%= link_to 'Delete', [exp.paper,exp], :confirm => 'Are you sure?', :method => :delete %><br><br>
		<% else %>
			<%= button_to "Experiment " + (i+1).to_s, edit_paper_experiment_path(exp.paper_id,exp) %><br>
		<% end %>
	<% end %>

	<% if @paper.status == 1 %>
		<%= button_to 'Complete submission', paper_path(@paper), :method => :put %><br><br>
	<% end %>
</div>
<%= link_to 'Back', paper_path(@paper) %>