<%= form_for @paper do |f| %> 

  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title:" %>
    <%= f.text_field :title, :size => 100 %>
  </div>
  
  <div class="field">
    <% @authors.each do |author| %>
	  <%= check_box_tag "paper[author_ids][]", author.id, @paper.authors.include?(author) %><%= author.last_name %>, <%= author.first_name %>, <%= author.initials %><br />
    <% end %>
    <%= link_to_add_fields "Add an author that is not already in the database", f, :authors %>
  </div>
  
  <div class="field">
    <%= f.label "Journal:" %>
    <%= f.text_field :journal, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label "Year:" %>
    <%= f.date_select :year, :start_year => Time.now.year - 50, :end_year => Time.now.year, :discard_day => true, :discard_month => true %>
  </div>
  
  <div class="field">
    <%= f.label "Volume:" %>
    <%= f.text_field :volume, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label "Number:" %>
    <%= f.text_field :number, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label "First page:" %>
    <%= f.text_field :first_page, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label "Last page:" %>
    <%= f.text_field :last_page, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label "DOI:" %>
    <%= f.text_field :doi, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label 'Paper URL:' %>
    <%= f.text_field :paper_url, :size => 100 %>
  </div>
  
  <div>
    <h2>Experiments:</h2>
    Please detail the experiments conducted for this paper.<br />
	<% @paper.experiments.each_with_index do |exp,i| %>
		<% f.fields_for :experiments,exp do |g| %>
			<p>	
				<%= g.label "Experiment title:" %>
				<%= g.text_field :title %>
			</p>

			<p>
				<%= g.label "Experiment type:" %><br />
				<%= g.radio_button :exp_type, "0" %>Controlled experiment<br />
				<%= g.radio_button :exp_type, "1" %>Practical comparison<br />
			</p>

			<p>
				<%= g.label "Task:" %><br />
				<% Task.all.each do |task| %>
					<%= check_box_tag "paper[experiments_attributes]["+i.to_s+"][task_ids][]", task.id, exp.tasks.include?(task) %><%= task.task_tag %><br>
				<% end %>
			</p>

			<p>
				<%= g.label "Task description:" %><br />
				<%= g.text_area :task_desc, :cols => 75, :rows => 6 %>
			</p>
		<% end %>
	<% end %>
  </div>
  
  <div>
  <%= button_to_add_fields "+ Add experiment", f, :experiments %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  
<% end %>