<%= render "shared/notice_messages" %>

<div id="show_title">
	<center><h1>ENTRY DETAILS</h1></center>
</div>

<div id="show_body">
	<div id="field">
		<div id="form_heading">Publication Details:</div>
		<div id="form_text">
			<div><%= @paper.authors.first.last_name %><% if @paper.authors.count > 1 %> et al<% end %>, <%= @paper.title %><% if !@paper.journal.nil? %>, <i><%= @paper.journal %></i><% end %>, <%= @paper.year.strftime("%Y") %><% if !@paper.volume.nil? %>, <%= @paper.volume %><% end %><% if !@paper.number.nil? %>, <%= @paper.number %><% end %><% if !@paper.first_page.nil? %>, <%= @paper.first_page %><% end %>.</div>
			<div><a href="<%= @paper.paper_url %>"><%= @paper.paper_url %></a></div>
		</div>
	</div>
	<% @paper.experiments.each_with_index do |exp,i| %>
		<div id="field">
			<div id="form_heading">Experiment #<%= i+1 %>:</div>
			<div id="form_text">
				<div><b>"<%= exp.title %>"</b></div>
				<% if exp.exp_tasks.count == 0 %>
					<div><i>0 user tasks, 0 findings.</i></div>
				<% end %>
				<% exp.exp_tasks.each_with_index do |exp_task,j| %>
					<div><i>User Task #<%= j+1 %> - "<%= exp_task.title %>", <%= exp_task.findings.count %> finding(s).</i></div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>