<p id="notice"><%= notice %></p>

<div id="filters">
	<%= form_tag browse_comp_path, :method => :post do %>
		<input type="hidden" name="comp" value="<%= @comp.id %>">
		<input type="hidden" name="filter_tasks[]"> 
		<input type="hidden" name="filter_metrics[]"> 
		<input type="hidden" name="filter_systems[]"> 
	
		<%= hidden_field_tag "display_as", @display_as %>
		
		<h3>Filter by:</h3>
		<div id="filter_tasks_hidden">
			<%= link_to '[+]', "#", :onclick => "Effect.BlindDown('filter_tasks_list');Element.show('filter_tasks_expanded');Element.hide('filter_tasks_hidden');", :remote => true %> Components of Immersion<br>
		</div>
		<div id="filter_tasks_expanded" style="display:none">
			<%= link_to '[-]', "#", :onclick => "Effect.BlindUp('filter_tasks_list');Element.show('filter_tasks_hidden');Element.hide('filter_tasks_expanded');", :remote => true %> Components of Immersion<br>
		</div>
		<div id="filter_tasks_list" style="display:none">
			<% @tasks.each do |task| %>
				<%= check_box_tag "filter_tasks[]", task.id, @filter_tasks.include?(task.id) %><%= task.task_tag %><br>
			<% end %>
		</div>
		<div id="filter_metrics_hidden">
			<%= link_to '[+]', "#", :onclick => "Effect.BlindDown('filter_metrics_list');Element.show('filter_metrics_expanded');Element.hide('filter_metrics_hidden');", :remote => true %> Metrics<br>
		</div>
		<div id="filter_metrics_expanded" style="display:none">
			<%= link_to '[-]', "#", :onclick => "Effect.BlindUp('filter_metrics_list');Element.show('filter_metrics_hidden');Element.hide('filter_metrics_expanded');", :remote => true %> Metrics<br>
		</div>
		<div id="filter_metrics_list" style="display:none">
			<% @metrics.each do |metric| %>
				<%= check_box_tag "filter_metrics[]", metric.id, @filter_metrics.include?(metric.id) %><%= metric.metric_tag %><br>
			<% end %>
		</div>
		<div id="filter_systems_hidden">
			<%= link_to '[+]', "#", :onclick => "Effect.BlindDown('filter_systems_list');Element.show('filter_systems_expanded');Element.hide('filter_systems_hidden');", :remote => true %> Systems<br>
		</div>
		<div id="filter_systems_expanded" style="display:none">
			<%= link_to '[-]', "#", :onclick => "Effect.BlindUp('filter_systems_list');Element.show('filter_systems_hidden');Element.hide('filter_systems_expanded');", :remote => true %> Systems<br>
		</div>
		<div id="filter_systems_list" style="display:none">
			<% @systems.each do |system| %>
				<%= check_box_tag "filter_systems[]", system.id, @filter_systems.include?(system.id) %><%= system.system_tag %><br>
			<% end %>
		</div>
		<br>
		<%= submit_tag "Filter Results", :name => nil %>
	<% end %>
</div>


<div id="browse_results">	
	
	<h1>Topic: <i><%= @comp.comp_tag %></i></h1>
	<div id="browse_findings" style="display:<% if @display_as == 'Findings' %>inline<% else %>none<% end %>">
	<center><small>Display results as:</small><br>
		Findings | <%= link_to 'Experiments', "#", :onclick => "browse_results_display_as('experiments')" %> | <%= link_to 'Papers', "#", :onclick => "browse_results_display_as('papers')" %></center>
		<h1>Results:</h1>
		
		<table cellspacing="0" cellpadding="0">
			<tr><th style="width:5%"></th>
			<th style="width:15%">Experiment Type</th>
			<th style="width:15%">Year</th>
			<th style="width:65%">Details</th></tr>
			<% @findings.each_with_index do |finding,i| %>
				<tr><td><center><%= i+1 %></center></td>
				<td><%= finding.experiment.exp_type %></td>
				<td><%= finding.experiment.paper.year %></td>
				<td>Finding: <%= finding.finding %></b><br>
				Task: <% finding.tasks.each do |task| %>
					<%= task.task_tag %>
				<% end %><br>
				Components of immersion: <% finding.comps.each do |comp| %>
					<%= comp.comp_tag %>, 
				<% end %><br>
				Metrics: <% finding.metrics.each do |metric| %>
					<%= metric.metric_tag %>, 
				<% end %><br>
				Systems: <% finding.systems.each do |system| %>
					<%= system.system_tag %>, 
				<% end %><br></td></tr>
			<% end %>
		</table>
	</div>

	<div id="browse_experiments" style="display:<% if @display_as == 'Experiments' %>inline<% else %>none<% end %>">
		<center><small>Display results as:</small><br>
		<%= link_to 'Findings', "#", :onclick => "browse_results_display_as('findings')" %> | Experiments | <%= link_to 'Papers', "#", :onclick => "browse_results_display_as('papers')" %></center>
		<h1>Results:</h1>
		
		<table cellspacing="0" cellpadding="0">
			<tr><th style="width:5%"></th>
			<th style="width:15%">Experiment Type</th>
			<th style="width:15%">Year</th>
			<th style="width:65%">Details</th></tr>
			<% @experiments.each_with_index do |exp,i| %>
				<tr><td><center><%= i+1 %></center></td>
				<td><%= exp.exp_type %></td>
				<td><%= exp.paper.year %></td>
				<td>Experiment: <%= exp.title %></b><br>
				Task: <% exp.tasks.each do |task| %>
					<%= task.task_tag %>
				<% end %><br>
				Components of immersion: <% exp.comps.each do |comp| %>
					<%= comp.comp_tag %>, 
				<% end %><br>
				Metrics: <% exp.metrics.each do |metric| %>
					<%= metric.metric_tag %>, 
				<% end %><br>
				Systems: <% exp.systems.each do |system| %>
					<%= system.system_tag %>, 
				<% end %><br></td></tr>
			<% end %>
		</table>
	</div>

	<div id="browse_papers" style="display:<% if @display_as == 'Papers' %>inline<% else %>none<% end %>">
		<center><small>Display results as:</small><br>
		<%= link_to 'Findings', "#", :onclick => "browse_results_display_as('findings')" %> | <%= link_to 'Experiments', "#", :onclick => "browse_results_display_as('experiments')" %>  | Papers</center>
		<h1>Results:</h1>
		
		<table cellspacing="0" cellpadding="0">
			<tr><th style="width:5%"></th>
			<th style="width:15%">Paper Title</th>
			<th style="width:15%">Year</th>
			<th style="width:65%">Details</th></tr>
			<% @papers.each_with_index do |paper,i| %>
				<tr><td><center><%= i+1 %></center></td>
				<td><%= paper.title %></td>
				<td><%= paper.year %></td>
				<td>Paper: <%= paper.title %></b><br>
				Task: <% Task.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |task| %>
					<%= task.task_tag %>
				<% end %><br>
				Components of immersion: <% Comp.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |comp| %>
					<%= comp.comp_tag %>, 
				<% end %><br>
				Metrics: <% Metric.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |metric| %>
					<%= metric.metric_tag %>, 
				<% end %><br>
				Systems: <% System.joins(:experiments).where(:experiments => {:id => paper.experiments}).each do |system| %>
					<%= system.system_tag %>, 
				<% end %><br></td></tr>
			<% end %>
		</table>
	</div>
</div>