<%= form_for [@paper,@experiment] do |f| %>		
	<div id="inner_section">
		<%= f.hidden_field :exp_type, :value => 0 %>
		
		<div id="field">
			<h3>Experiment Title: Provide a short title/nickname for this experiment.</h3>
			<%= f.text_field :title, :size => 50 %>
		</div>
		
		<div id="field">
			<h3>Research Questions and Goals - Describe the research questions and goals that motivated this experiment:</h3>
			<%= f.text_area :goals, :cols => 80, :rows => 6 %>
		</div>
			
		<div id="field">
			<h3>Participants - Number of participants in this experiment:</h3>
			<%= f.radio_button :part_num, "0" %>1-5<br>
			<%= f.radio_button :part_num, "1" %>6-10<br>
			<%= f.radio_button :part_num, "2" %>11-20<br>
			<%= f.radio_button :part_num, "3" %>21-50<br>
			<%= f.radio_button :part_num, "4" %>50+<br>
			<%= f.radio_button :part_num, "5" %>None<br>
		</div>

		<div id="field">
			<h3>Participants - Gender balance of the participants in this experiment:</h3>
			<%= f.radio_button :part_gender, "0" %>Female only<br>
			<%= f.radio_button :part_gender, "1" %>Mostly female<br>
			<%= f.radio_button :part_gender, "2" %>Balanced gender<br>
			<%= f.radio_button :part_gender, "3" %>Mostly male<br>
			<%= f.radio_button :part_gender, "4" %>Male only<br>
			<%= f.radio_button :part_gender, "5" %>Not reported<br>
		</div>

		<div id="field">
			<h3>Participants - Age range of the participants in this experiment:</h3>
			<%= f.text_field :part_age, :size => 50 %>
		</div>

		<div id="field">
			<h3>Participants - Technical background of the participants in this experiment:</h3>
			<%= f.text_area :part_background, :cols => 80, :rows => 6 %>
		</div>

		<div id="field">
			<h3>Participants - Provide any other relevant information about the participants in this experiment:</h3>
			<%= f.text_area :part_other, :cols => 80, :rows => 6 %>
		</div>

		<div id="field">
			<h3>Displays - Select all the categories of displays used in this experiment:</h3>
			<% @systems.each do |system| %>
				<div style="width:33%;float:left">
					<%= check_box_tag "experiment[system_ids][]", system.id, @experiment.systems.include?(system) %><%= system.system_tag %><br>
				</div>
			<% end %>
		</div>

		<div id="field">
			<h3>Displays - Provide as much detail as you can on the technical specifications of the displays used in this experiment:</h3>
			<%= f.text_area :systems_tech, :cols => 80, :rows => 6 %>
		</div>
		
		<div id="field">
			<h3>Hardware/Software - Provide as much detail as you can on the harware/software used in this experiment (dislays, input devices, tracking systems, computers, etc.):</h3>
			<%= f.text_area :systems_desc, :cols => 80, :rows => 6 %>
		</div>

		<div id="field">
			<h3>Components of Immersion - Select all components of immersion indepenently varied in this experiment:</h3>
			<% @comps.each do |comp| %>
				<div style="width:33%;float:left">
					<%= check_box_tag "experiment[comp_ids][]", comp.id, @experiment.comps.include?(comp) %><%= comp.comp_tag %><br>
				</div>
			<% end %>
		</div>
		
		<div id="field">
			<h3>Components of Immersion - Detail the different levels used for all components of immersion independently varied in this experiment:</h3>
			<%= f.text_area :comps_desc, :cols => 80, :rows => 6 %>
		</div>
		
		<div id="field">
			<h3>Additional Variables - Describe any additional independent variables (not components of immersion) and their levels:</h3>
			<%= f.text_area :variables_desc, :cols => 80, :rows => 6 %>
		</div>
	  
		<div id="field">
			<h3>Constants - Describe other factors that were held constant in this experiment:</h3>
			<%= f.text_area :constants, :cols => 80, :rows => 6 %>
		</div>

		<div id="field">
			<h3>Other - Additional information about this experiment not captured by this form:</h3>
			<%= f.text_area :other, :cols => 80, :rows => 6 %>
		</div>
	</div>
	<div id="field">
		<div id="submit">
			<table align="right">
				<tr><td><%= link_to "Cancel", paper_experiments_path(@paper) %></td>
				<td><%= f.submit "Save" %></td></tr>
			</table>
		</div>
	</div>
<% end %>