
<%= form_for @paper do |f| %> 
  <%= f.error_messages %>
  <center>
  <table>
	<tr>
		<td>Title:</td>
		<td><%= f.text_field :title, :size => 100 %></td>
	</tr>
	<tr>
		<td>Year:</td>
    	<td><%= f.date_select :year, :start_year => Time.now.year - 50, :end_year => Time.now.year, :discard_day => true, :discard_month => true %></td>
	</tr>
	<tr>
		<td>Journal:</td>
		<td><%= f.text_field :journal, :size => 100 %></td>
	</tr>
	<tr>
		<td>Volume:</td>
    	<td><%= f.text_field :volume, :size => 100 %></td>
	</tr>
	<tr>
		<td>Issue:</td>
    	<td><%= f.text_field :number, :size => 100 %></td>
	</tr>
	<tr>
		<td>First page:</td>
    	<td><%= f.text_field :first_page, :size => 100 %></td>
	</tr>
	<tr>
		<td>Last page:</td>
    	<td><%= f.text_field :last_page, :size => 100 %></td>
	</tr>
	<tr>
		<td>DOI:</td>
		<td><%= f.text_field :doi, :size => 100 %></td>
	</tr>
	<tr>
		<td>Paper URL:</td>
    	<td><%= f.text_field :paper_url, :size => 100 %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.label 'How many experiments were conducted for this paper/journal entry?' %>
						<%= f.select :status, [1,2,3,4,5,6,7,8,9,10] %></td>
	<tr>
	<tr>
		<td></td>
		<td align="right"><%= f.submit "Next" %></td>
	</tr>
  </table>
  </center>
<% end %>
